/* CSS Document */
.main{ width:980px; margin:0 auto;}
.zlnavs{ background:#685343; height:47px; padding-top:2px; padding-left:10px; width:970px; margin: 0 auto; border-top:1px solid #b3aaa3; }
.zlnavs li{ float:left; padding-left:1px; font-weight:bold; line-height:47px; padding:0px 10px; color:#fff;}
.zlnavs li a{ color:#fff; font-size:17px; height:30px; display:block;}
.zlnavs li.on a,.zlnavs li a:hover{ color:#da0203; text-decoration:none;}
.jdtdbox{ width:980px; margin:0 auto; margin-top:5px;}
.pmjdt{width:645px; height:288px; overflow:hidden; float:left;}
/**焦点图**/
#zSlider{margin:0px auto; width:645px; overflow:hidden; position:relative;}
#picshow{position:relative;}
#picshow,#picshow_img{width:645px; height:288px; overflow:hidden; float:left;}
#picshow_img li{width:645px; height:288px; overflow:hidden; float:left; display:none;}
#picshow_img img{width:645px; height:288px;}
#picshow_tx{right:0px; width:125px; bottom:10px; position:absolute; height:20px; overflow:hidden;z-index:10;}
#picshow_tx li{background:#fff; height:19px; width:19px; overflow:hidden; float:left; margin-right:10px; cursor:pointer;}
#picshow_tx li.current{ background:#ff9328;}
#picshow_tx li a{color:#fff;}
#picshow_tx li a:hover{text-decoration:underline;}
#picshow_tx li h3{ margin:13px 0;}
#picshow_tx li p{ color:#ccc; line-height:16px; height:16px; overflow:hidden;}
#select_btn{width:645px; height:66px; color:#111; float:right; display:inline; background:#0a0e11; position:absolute; z-index:9; bottom:0px; left:0px;}
#select_btn ul{ width:497px; padding-left:10px;}
#select_btn li{width:497px; height:50px; margin:0 auto; margin-top:14px; cursor:pointer; display:none;}
#select_btn li dl{ width:497px;}
#select_btn li dl dt{ font-size:16px; text-align:left; font-weight:bold; height:23px; overflow:hidden;}
#select_btn li dl dt a{ color:#fff;}
#select_btn li dl dd{ font-size:12px; color:#fff; margin-top:3px; width:497px; height:16px; overflow:hidden; }

#select_btn li.current{display:block;}

#select_btn a{color:#000;}
#select_btn img{padding:2px; border:1px solid #ccc; width:70px; height:49px; margin-right:10px; float:left;}
#select_btn .select_text{ height:20px; font:bold 13px/16px 'Microsoft YaHei'; overflow:hidden; display:block;}
#select_btn .select_text:hover{text-decoration:underline;}
#select_btn .select_date{ height:23px; line-height:23px; overflow:hidden; display:block;}


.jd_lj{ width:325px; float:right;}
.jd_lj dl{width:325px; padding-bottom:13px;}
.jd_lj dl dt{ width:325px; height:25px; line-height:25px; overflow:hidden; font-size:18px; text-align:left;}
.jd_lj dl dt a{color:#000; font-weight:bold;}
.jd_lj dl dd{ font-size:12px; width:330px; height:20px; line-height:20px;color:#000; text-align:left;}
.tetui{ width:325px; margin:0 auto; background:#f9f9f2; border:1px solid #e6d9d3; height:63px; overflow:hidden;}
.tetui span{ display:block; float:left; font-size:16px; color:#985e49; line-height:24px; margin-left:5px; font-weight:bold;}

.tetui a:hover,.tetui span:hover,.tetui b:hover{ color:#da0203;}
.tetui b{ display:block; float:left; font-size:12px; color:#000; line-height:24px; margin-top:20px; font-weight:normal; width:250px; overflow:hidden; height:24px;}


/***市场 专题 人物专访***/
.szr{ width:980px; margin:0 auto; margin-top:10px;}
.shichang{ width:315px; float:left;}
.sc_bt{ width:315px; background:url(../pmimg/dxbj.jpg) no-repeat; height:32px; overflow:hidden; line-height:32px;}
.sc_bt span{ display:block; float:left; padding-left:10px;}
.sc_bt span a{ font-size:16px; font-weight:bold; color:#000;}
.sc_bt span a:hover{ color:#da0203;}
.sc_bt b{ display:block; font-weight:normal; float:right; padding-right:10px;}
.sc_bt b a{ color:#302e2e; font-size:12px;}
.sc_bt b a:hover{ color:#da0203;}
.sc_box{ width:315px; margin:0 auto; margin-top:15px; padding-bottom:15px; border-bottom:1px dashed #ccc;}
.sc_box span{ display:block; float:left;}
.sc_box span img{ display:block; width:100px; max-width:100px; height:90px; max-height:90px;}
.sc_box dl{ float:left; width:190px; float:left; margin-left:10px;}
.sc_box dl dt{ width:190px; height:24px; line-height:24px; overflow:hidden; font-weight:bold; font-size:14px;}
.sc_box dl dt a{ color:#000;}
.sc_box dl dt a:hover{ color:#da0203;}
.sc_box dl dd{ width:190px; height:67px; line-height:16px; overflow:hidden;}
.sc_box dl dd a{ color:#000; font-size:12px;}
.sc_list{ width:315px; margin-top:10px;}
.sc_list ul li{ height:24px; line-height:24px; background:url(../pmimg/libjd02.png) no-repeat left top; padding-left:10px; width:305px; font-size:14px; overflow:hidden;}
.ml15{ margin-left:18px;}
.rwzf{ width:315px; float:right;}
.rwzf_bt{ width:315px; background:url(../pmimg/hotbj.jpg) no-repeat left; height:32px; overflow:hidden; line-height:32px;}
.rwzf_bt span{ display:block; float:left;}
.rwzf_bt span a{ font-size:16px; font-weight:bold; color:#000;}
.rwzf_bt span a:hover{ color:#da0203;}
.rwzf_bt b{ display:block; font-weight:normal; float:right; padding-right:10px;}
.rwzf_bt b a{ color:#302e2e; font-size:12px;}
.rwzf_bt b a:hover{ color:#da0203;}
.rwzf_box{ width:315px; padding-top:8px;}
.rwzf_box ul{ width:295px; background:url(../pmimg/numbj.jpg) no-repeat left top; padding-left:20px; height:240px; }
.rwzf_box ul li{ width:295px; height:24px; line-height:27px; padding-top:3px; overflow:hidden; font-size:14px; text-align:left;}
/**拍卖信息**/
.pmxx{ width:980px; background:url(../pmimg/pmxxbj.jpg) no-repeat; height:47px; overflow:hidden;}
.ppxx_bt{ float:left; line-height:47px; font-size:16px; font-weight:bold; padding-left:15px; width:100px;}

.ppxx_bt i{ color:#da0203;}
.ppgd{ width:570px; line-height:47px; height:47px; overflow:hidden; float:left;}
.ppgd span{ display:block; float:left; font-size:12px; color:#da0203;}
#listTextRoll3 {width:510px;float:left;height:20px;overflow:hidden; margin-top:15px;}
#listTextRoll3 li {line-height:20px;font-size:12px;color:#000; padding-left:10px;}
.ppxx_gd{ float:right; font-size:12px; line-height:47px; padding-right:28px; color:#fff;}
.ppxx_gd a{ color:#fff; font-size:12px;}
.ppxx_gd a:hover{ color:#fff;}

.pm_box{ width:980px; margin:0 auto; padding-top:15px;}
.pm_box table{ float:left; text-align:left; width:980px;font-size:12px;}
.pm_box tr{ display:block;padding:5px 0px; width:100%; padding-left:5px;}
.pm_box th,.pm_box td{padding-left:15px;}

/**拍卖作品***/

.paimazp{ width:980px; margin:0 auto; margin-top:10px;}
.pmzb_box{ width:1044px; margin:0 auto; padding-top:15px;}
.pmzp_bt{ width:980px; background:url(../pmimg/pmzpbj.jpg) no-repeat; height:32px; line-height:32px;}
.pmzp_bt span{ display:block; float:left; font-weight:bold;}
.pmzp_bt span a{ color:#000;}
.pmzp_bt span  i{ color:#da0203;}
.pmzp_bt b{ display:block; font-weight:normal; float:right; padding-right:10px; font-size:12px;}
.pmzp_list{ width:286px; float:left; margin-right:62px; margin-bottom:20px;}
.zpdl{ width:286px;}
.zpdl dl{ width:286px; margin:0 auto;}
.zpdl dl dt{ width:286px; height:175px;vertical-align: middle;display: table-cell; }
.zpdl dl dt img{ display:block; width:286px; max-width:286px; max-height:175px;}
.zpdl dl dd{ width:286px; background:#4a4a48; height:24px; line-height:24px; text-align:center;}
.zpdl dl dd a{ color:#fff; font-size:14px;}
.zpdd{ width:276px; background:#f6f6f6; padding-left:10px; padding-top:5px; padding-bottom:5px;}
.zpdd span{ display:block; width:278px; height:24px; line-height:24px; font-size:14px; color:#000; font-weight:bold; overflow: hidden}
.zpdd span i{ color:#d1395d;}
.rq span{ display:block; width:286px; height:24px; line-height:24px; text-align:left; font-weight:bold;}
.rq b{ display:block; font-weight:normal; text-align:center; font-size:14px; background:url(../pmimg/jjks.png) no-repeat; width:159px; height:35px; line-height:35px;}
.rq b a{ color:#fff;}
