 /* 初始化CSS */
html,body,body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0;/* font-size: 100%;*/ font-style: normal;  vertical-align: baseline; background: transparent; font-family:"\5FAE\8F6F\96C5\9ED1";}
article, aside, figure, footer, header, hgroup, nav, section { display: block; }
img, object, embed { max-width: 100%; }
html { overflow-y: scroll; }
ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a {margin: 0; padding: 0; vertical-align: baseline; background: transparent; text-decoration: none; color: #000; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
th { font-weight: bold; vertical-align: bottom; }
td { font-weight: normal; vertical-align: top; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; padding: 0; }
input, select { vertical-align: middle; }
pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align:baseline;}
.ie6 input { vertical-align: text-bottom; }
select, input, textarea { font: 99% sans-serif; }
table { font-size: inherit; font: 100%; }
:focus { outline: none; }
a:hover, a:active { outline: none; text-decoration: underline; color:#da0203;}
/*a:link{ color:#000;}*/
a:visited{ color:#777;}
a:focus { text-decoration: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
button, input, select, textarea { margin: 0; }
button { width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }
.ie6 html { filter:expression(document.execCommand("BackgroundImageCache", false, true));}
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
html { _background: url(about:blank) no-repeat fixed; }
/*清除浮动*/
.clr{font-style:0; height:0; line-height:0; overflow:hidden; visibility:hidden; clear:both;}



/* head*/

.head{ width:100%; margin:0 auto;}
.head_nav{ background:url(http://www.peoplearts.cn/images/gbimages/topbj.jpg) center; width:100%; margin:0 auto; height:32px; overflow:hidden;}
.nav_01{ width:980px; margin:0 auto; }
.nav_left{ float:left; line-height:28px;}
.nav_left a{ color:#fff; font-size:12px; width:60px; text-align:center; display:block; float:left;}
.nav_left a:hover{ color:#da0203;}
.nav_left span{ color:#fff; font-size:12px; padding-left:19px;display:block; float:left;}
.nav_right{ float:right; margin-right:2px;}
.nav_right ul li{ float:left; width:81px; text-align:right; padding-right:13px; line-height:28px;}
.nav_right ul li:hover{ width:81px; height:29px; background:#494949;filter:alpha(opacity:30);opacity:0.7; }
.nav_right ul li.w67{ width:67px; background:#494949; height:29px; text-align:center; padding:0px;}
.nav_right ul li.w77{ width:77px;}
.nav_right ul li a{ font-size:12px; color:#fff;}
.nav_right ul li a:hover{ color:red;}
/*head end*/

.h50{ height:50px;}

.footer{ width:100%; margin:20px auto 0; }
.hzmt{  width:100%;}
.hzmt_list{ width:980px; margin:0 auto;}
.hzmt_hd{height:29px;line-height:29px;text-align:center;font-size:16px;font-weight:bold;background:url(http://www.peoplearts.cn/images/yqlj_bg.jpg) no-repeat 0px 0px;}
.hzmt_list{ width:980px; margin:0 auto; padding-top:15px;+padding-top:45px;background:url(http://www.peoplearts.cn/images/hzmt_list_bg.jpg) no-repeat 0px 0px;}
.hz_list{ margin:auto;margin-top:20px;overflow:hidden;}
.hz_list a{ display:block;width:176px;height:60px; float:left; padding:2px; background:#fff; margin-left:11px;_display:inline;border:1px solid #ddd;}
.hz_list img{ max-width:173px; max-height:59px; display:block; margin:0 auto; float:left;}
/**友情链接**/
.yqlj{ width:948px; margin:0 auto; margin-top:30px; overflow:hidden;}
.yqlj{ width:948px; margin:0 auto; margin-top:30px; overflow:hidden;background:url(http://www.peoplearts.cn/images/yqlj_bg.jpg) no-repeat 0px 0px;padding:37px 16px;padding-bottom:0px;}
.yqlj a{height:25px; line-height:25px; font-size:13px; margin-right:10px;}
.yqlj a:hover{color:#da0203;}

.xjxc{ background:#eeeeee; margin:0 auto; margin-top:20px;  height:40px; line-height:40px;}
.xjxc ul{ width:980px; margin:0 auto; padding-top:8px;}
.xjxc ul li{ color:#a5a5a5; font-size:12px; width:79px; float:left; line-height:24px; text-align:center;background:url(http://www.peoplearts.cn/images/xjxc_li_bg.jpg) no-repeat right center; }
.xjxc ul li a{color:#4e4e4e;}
.xjxc ul li a:hover{ color:#da0203;}
.foot_nav{ width:980px; margin:0 auto; border-bottom:1px solid #a5a5a5; height:40px;}
.foot_nav ul{width:738px; margin:0 auto; overflow:hidden;}
.foot_nav ul li{ float:left; height:24px; line-height:24px; padding:0px 15px; text-align:center; font-size:18px; border-right:1px solid #a5a5a5;}
.foot_nav ul li.last{ border:none;}
.foot_nav ul li a{ color:#a5a5a5;}
.foot_nav ul li a:hover{ color:#da0203;}
.db_box{ width:980px; overflow:hidden; margin:0 auto; margin-top:20px;text-align:center;color:#4e4e4e;font-size:12px;line-height:24px;}
.db_box_left{ float:left; width:675px;}
.lef_01{ width:340px; float:left;}
.lef_01 p{ color:#a5a5a5; font-size:12px; line-height:18px; margin-bottom:10px;}
.lef_01 p.mt50{ margin-top:97px;}

.lef_right{ width:285px; float:right;}
.lef_right p{ color:#a5a5a5;font-size:12px; line-height:18px;margin-bottom:10px;}
.youbian,.zongji{display:inline-block;padding:0px 20px;}
.youbian{background:url(http://www.peoplearts.cn/images/youbian_bg.jpg) no-repeat left center;}
.zongji{background:url(http://www.peoplearts.cn/images/zongji_bg.jpg) no-repeat left center;}
.lef_right p.mt40{ margin-top:70px;}
.slin{ width:1px; float:left; background:#a5a5a5; height:120px;}
.db_box_right{ width:320px;margin:auto;margin-top:10px;}
.dingyue{width:320px;overflow:hidden; margin-bottom:20px;}
.sryx{ width:120px; height:24px; line-height:24px; font-size:12px;text-align:left;float:left;}
.dy{ width:200px;float:left;}
.dy input.dyk{ width:148px; height:22px; line-height:24px;  border:1px solid #7f7f7f; float:left;border-right:0;}
.dy a{ display:block; float:left; width:45px; height:24px; line-height:26px; text-align:center; color:#363636; background:#e3e3e3; font-size:12px; border:1px solid #7f7f7f;border-left:0;}






/*Public*/
.index-width{width:980px; margin:0 auto;}
/*Public*/

/*登陆弹出*/
.shopdl{ width:545px; height:300px; background:url(http://www.peoplearts.cn/images/denglubj.png) no-repeat;
 margin:0 auto; padding-top:5px; padding-left:5px;}
.shopdl1{ width:545px; height:300px; margin:0 auto; padding-top:5px; padding-left:5px; border:1px solid #ccc; margin-top:100px;}
.dlbt{ width:512px; height:30px; line-height:30px; background:#2a2e31;}
.dlbt2{ width:541px; height:30px; line-height:30px; background:#2a2e31;}
.dlbt2 span{ color:#fff; font-size:16px; line-height:30px; display:block; float:left; padding-left:15px;}
.dlbt2 p{color:#fff; font-size:7px; display:block; width:100px; line-height:7px; float:left; padding-left:5px; padding-top:9px;}
.dlbt2 p b{ color:#fff; font-size:10px; text-align:center; font-weight:normal; }
.dlbt span{ color:#fff; font-size:16px; line-height:30px; display:block; float:left; padding-left:15px;}
.dlbt p{color:#fff; font-size:7px; display:block; width:100px; line-height:7px; float:left; padding-left:5px; padding-top:9px;}
.dlbt p b{ color:#fff; font-size:10px; text-align:center; font-weight:normal; }
.ztk{ width:512px; height:271px; background:#fff; }
.dlbt img{ display:block; float:right; margin-right:5px; margin-top:6px;}
.dlbd{ width:323px; height:240px; float:left; border-right:1px solid #ccc;}
.dlbd ul li{ margin-bottom:15px;}
.h30{ height:30px;}
.fleft{ float:left;}
.dlbd ul li span{ font-size:13px; color:#333; width:90px; text-align:left; line-height:24px; display:block; float:left; margin-right:3px;}
.dlbd ul li input.yhm{ background:url(http://www.peoplearts.cn/images/bddbj.png) no-repeat; width:192px; height:25px; line-height:25px; border:none;}
.dlbd ul{ width:285px; height:163px; margin-top:35px; margin-left:24px;  }
.dlbd ul li input.tjdl{ background:url(http://www.peoplearts.cn/images/zcb.png) no-repeat; width:88px; height:30px; line-height:30px; text-align:center; border:none; cursor:pointer; color:#fff; margin-left:93px;}
.dlbd ul li a{color:#446aa9; padding-left:5px;}
.dlbd ul li.zc05 input 
{ 
visibility:hidden; 
} 
.dlbd ul li.zc05 label{ 
display:inline-block; 
height:14px; 
padding-left:20px; line-height:14px; margin-left:80px;}
label 
{ 
background: url(http://www.peoplearts.cn/images/a.png) no-repeat 0 0 transparent; 
display:inline-block; 
height:14px; 
padding-left:20px; 
} 
.dlbdt ul li.zc05 label.checked,
.checked 
{ 
background: url(http://www.peoplearts.cn/images/b.png) no-repeat 0 0 transparent; 
} 
.zcm{ float:right; width:180px;}
.zcm p{ width:150px; margin:0 auto; display:block; line-height:24px; font-size:16px; text-align:center; margin-top:62px;}
.zcm a{ width:88px; height:30px; display:block; background:url(http://www.peoplearts.cn/images/zcb.png) no-repeat; text-align:center; color:#fff; line-height:29px; margin:0 auto;}
.mesWindow{}
.mesWindowTop{border-bottom:#eee 1px solid;margin-left:4px;padding:3px;font-weight:bold;text-align:left;font-size:12px;}
.mesWindowContent{margin:4px;font-size:12px;}
.mesWindow .close{height:15px;width:28px;border:none;cursor:pointer;text-decoration:underline;background:#fff}

/* 下面是整个myshop退订部分 */
#tuiding{position:absolute;left:36%;top:20%;z-index:999999;display:none;}

.beijing{width:100%;height:100%;position:fixed;left:0px;top:0px;background:#000; z-index:99999; display:none;}

/*登陆弹出*/


/*header skin*/
.header{width:100%; margin:0 auto;}
/*登陆区域*/
.header .h_box1{width:100%; margin:0 auto 5px; height:34px; background:url(http://www.peoplearts.cn/images/header_bg1.gif) repeat-x;}
.header .h_box1 .left{float:left;  font-size:12px; color:#fff; padding-top:8px;}
.header .h_box1 .left a{float:left; color:#fff; margin:0 15px;}
.header .h_box1 .left span{float:left; padding:0 15px; border-left:1px solid #616161;}
.header .h_box1 ul{float:right; line-height:32px;}
.header .h_box1 ul li{float:left; padding:0 10px;}
.header .h_box1 ul li:hover{filter:alpha(opacity:30);opacity:0.7;}
.header .h_box1 ul li.li1{background-color:#494949; padding:0 15px;}
.header .h_box1 ul li.li2{background:url(http://www.peoplearts.cn/images/ico1.png) no-repeat 0 0; margin-left:10px; padding-left:20px;}
.header .h_box1 ul li.li3{background:url(http://www.peoplearts.cn/images/ico1.png) no-repeat 0 -33px; margin-left:10px; padding-left:20px;}
.header .h_box1 ul li.li4{background:url(http://www.peoplearts.cn/images/ico1.png) no-repeat 0 -66px; margin-left:10px; padding-left:20px;}
.header .h_box1 ul li.line{width:2px; float:left; padding:0; background:url(http://www.peoplearts.cn/images/sep1.gif) repeat-y; height:32px;}
.header .h_box1 ul li a{color:#FFF; font-size:12px;}
.header .h_box1 ul li a:hover{color:red;}
/*导航区域*/
.header .h_box2{width:100%; margin:5px auto;}
.header .h_box2 .h_b_nav{width:980px; float:left; background-color:#f6f6f6; height:40px; padding:10px 0;}
.header .h_box2 .h_b_nav dt{float:left; padding:0 15px; line-height:40px; height:40px; font-size:16px; font-weight:bold; background:url(http://www.peoplearts.cn/images/nav_ico1.png) no-repeat right top;}
.header .h_box2 .h_b_nav dd.dd1{width:260px; float:left; margin-left:3px;}
.header .h_box2 .h_b_nav dd.dd2{width:310px; float:left; margin-left:3px;}
.header .h_box2 .h_b_nav dd.dd3{width:190px; float:left; margin-left:3px;}
.header .h_box2 .h_b_nav dd li{float:left; padding:0 5px; line-height:20px;white-space:nowrap;}
.header .h_box2 .h_b_nav dd li a{font-size:13px; color:#000;}
.header .h_box2 .h_b_nav dd li a:hover{color:#d20404;}
.header .h_box2 .indexbg{background:url(http://www.peoplearts.cn/images/sep6.gif) repeat-x;}
.header .h_box2 .indexbg dt{color:#a78a5e;}
.header .h_box2 .indexbg dd li a{font-size:13px; color:#fff;}
/*LOGO区域*/
.header .h_box3{width:100%; margin:5px auto;}
.header .h_box3 .logo{width:214px; float:left;}
.header .h_box3 .logo span{width:214px; height:37px; text-align:center; line-height:37px; background:url(http://www.peoplearts.cn/images/sep2.gif) repeat-x; float:left; border-top:2px solid #d61518; margin-top:5px;}
.header .h_box3 .logo span a{ color:#d61518; font-size:26px;  font-weight:bold;text-decoration:none;}
.header .h_box3 .Searchbox{float:right; width:430px; margin-top:20px;}
.header .h_box3 .Searchbox .se_box1{width:100%; float:left;}
.header .h_box3 .Searchbox .se_box1 span{width:280px; float:left; border:1px solid #cccccc; border-right:none; height:34px; padding:0 10px;}
.header .h_box3 .Searchbox .se_box1 span .input_text{width:280px; height:34px; border:none; margin:0; padding:0; color:#dedede; font-size:12px; float:left;}
/*uboxstyle85*/
#uboxstyle85{float:left;}
#uboxstyle85 .select_box{width:85px; height:36px; float:left; text-align:left;}
#uboxstyle85 div.tag_select{display:block;width:65px;height:36px;background:transparent url(http://www.peoplearts.cn/images/down_85.png) no-repeat 0 0;padding:0 10px;line-height:36px; font-size:16px; color:#010101;}
#uboxstyle85 div.tag_select_hover{display:block;width:65px;height:36px;background:transparent url(http://www.peoplearts.cn/images/down_85.png) no-repeat 0 -36px; padding:0 10px;line-height:36px; font-size:16px; color:#010101;}
#uboxstyle85 div.tag_select_open{display:block;width:65px;height:36px;background:transparent url(http://www.peoplearts.cn/images/down_85.png) no-repeat 0 -72px; padding:0 10px;line-height:36px; font-size:16px; color:#010101;}
#uboxstyle85 ul.tag_options{position:absolute;list-style:none; border-bottom:1px solid #909191;width:85px;padding:0;margin:0;}
#uboxstyle85 ul.tag_options li{background:transparent url(http://www.peoplearts.cn/images/down_85.png) repeat-y -85px 0;display:block;width:65px;padding:0 10px;height:24px;text-decoration:none;line-height:24px;color:#383c45;  font-size:16px; color:#010101;}
#uboxstyle85 ul.tag_options li.open_hover{background:transparent url(http://www.peoplearts.cn/images/down_85.png) no-repeat 0 -108px;color:#fff}
#uboxstyle85 ul.tag_options li.open_selected{background:transparent url(http://www.peoplearts.cn/images/down_85.png) no-repeat 0 -132px;color:#fff}
.header .h_box3 .Searchbox .se_box1 .input_button{width:40px; height:36px; float:left; background-color:#333333; margin:0; padding:0; border:none; background:#333333 url(http://www.peoplearts.cn/images/Search_b.png) no-repeat center center; cursor:pointer;}
.header .h_box3 .Searchbox .se_box2{width:100%; float:left;}
.header .h_box3 .Searchbox .se_box2 .keybox{float:left; height:27px; line-height:27px;}
.header .h_box3 .Searchbox .se_box2 .keybox a{color:#d61518; font-size:12px; margin:0 4px;}
.header .h_box3 .Searchbox .se_box2 ul{float:right; height:27px; line-height:27px;}
.header .h_box3 .Searchbox .se_box2 ul li{float:left; background:url(http://www.peoplearts.cn/images/ico1.png) no-repeat; padding:0 10px 0 30px; position:relative; cursor:pointer; margin-left:7px;}
.header .h_box3 .Searchbox .se_box2 ul li.ico1{background-position:0 -102px;}
.header .h_box3 .Searchbox .se_box2 ul li.ico2{background-position:0 -129px;}
.header .h_box3 .Searchbox .se_box2 ul li p{display:none; width:103px; float:left; position:absolute; top:27px; font-size:12px; text-align:center; background-color:#FFF; border:5px solid #FFF; z-index:999}
.header .h_box3 .Searchbox .se_box2 ul li.ico1 p{left:5px;}
.header .h_box3 .Searchbox .se_box2 ul li.ico2 p{left:5px;}
.header .h_box3 .Searchbox .se_box2 ul li a{color:#666666; font-size:12px;}
/*二级导航*/
.header .h_box4{width:100%; margin:5px auto; position:relative; z-index:99;}
.header .h_box4 .nav_b1{width:100%; height:42px; float:left; background:url(http://www.peoplearts.cn/images/sep3.gif) repeat-x;}
.header .h_box4 .nav_b2{width:100%; height:28px; float:left; background:url(http://www.peoplearts.cn/images/sep4.gif); position:absolute; left:0; top:42px; display:none;}
.header .h_box4 .nav_ul{float:left; width:100%; height:42px; line-height:42px;}
.header .h_box4 .nav_ul .nav_li{float:left; position:relative; z-index:9; cursor:pointer;}
.header .h_box4 .nav_ul .nav_li .nav_a{ font-size:15px; color:#000; font-weight:bold; float:left; height:42px; padding:0 15px;}
.header .h_box4 .nav_ul .nav_li .nav_a:hover{text-decoration:none;}
.header .h_box4 .nav_ul .nav_li1{float:left; position:relative; z-index:9; cursor:pointer;}
.header .h_box4 .nav_ul .nav_li1 .nav_a{ font-size:15px; color:#000; font-weight:bold; float:left; height:42px; padding:0 15px;}
.header .h_box4 .nav_ul .nav_li1 .nav_a:hover{background:url(http://www.peoplearts.cn/images/sep4.gif); color:#FFF; text-decoration:none;}
.header .h_box4 .nav_ul .nav_li .off{background:url(http://www.peoplearts.cn/images/sep4.gif); color:#FFF;}
.header .h_box4 .nav_ul .line{width:1px; height:25px; float:left; background-color:#d2d2d2; margin-top:8px;}

.header .h_box4 .nav_ul .nav_li .x_ul{float:left; position:absolute; left:0; top:42px; display:none; width:400px;}
.header .h_box4 .nav_ul .nav_li .x_ul li{float:left; line-height:28px; height:28px; padding:0 8px;}
.header .h_box4 .nav_ul .nav_li .x_ul li a{ font-size:12px; color:#fff;}
/*二维码搜索*/
.header .h_box5{width:100%; margin:5px auto;}
.header .h_box5 .boxA{height:36px; background:url(http://www.peoplearts.cn/images/sep5.gif) repeat-x; width:100%; float:left;}
.header .h_box5 .boxA .se_box2{float:left; margin-top:5px;}
.header .h_box5 .boxA .se_box2 ul{float:left; height:27px; line-height:27px;}
.header .h_box5 .boxA .se_box2 ul li{float:left; background:url(http://www.peoplearts.cn/images/ico1.png) no-repeat; padding:0 10px 0 30px; position:relative; cursor:pointer; margin-left:7px; z-index:100;}
.header .h_box5 .boxA .se_box2 ul li.ico1{background-position:0 -102px;}
.header .h_box5 .boxA .se_box2 ul li.ico2{background-position:0 -129px;}
.header .h_box5 .boxA .se_box2 ul li p{display:none; width:103px; float:left; position:absolute; top:27px; font-size:12px; text-align:center; background-color:#FFF; border:5px solid #FFF; z-index:999}
.header .h_box5 .boxA .se_box2 ul li.ico1 p{left:5px;}
.header .h_box5 .boxA .se_box2 ul li.ico2 p{left:5px;}
.header .h_box5 .boxA .se_box2 ul li a{color:#666666; font-size:12px;}
.header .h_box5 .boxA .se_box1{float:right; margin-top:5px;}
.header .h_box5 .boxA .se_box1 .l_Search{width:207px; height:25px; float:left; border:1px solid #dcdcdc; background-color:#fff; float:left; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px;}
.header .h_box5 .boxA .se_box1 .l_Search .input_text{width:160px; height:25px; float:left; border:none; padding:0 5px; color:#b3b3b3; font-size:12px; background:none;}
.header .h_box5 .boxA .se_box1 .l_Search .input_button{height:25px; width:37px; float:left; background:url(http://www.peoplearts.cn/images/sstb.png) no-repeat center center; border:none; margin:0; padding:0; cursor:pointer;}
.header .h_box5 .boxA .se_box1 .keybox{float:left; height:27px; line-height:27px; padding:0 8px;}
.header .h_box5 .boxA .se_box1 .keybox a{color:#676767; font-size:12px; margin:0 4px;}
/*logo add*/
.header .h_box6{width:100%;margin-top: 5px;}
.header .h_box6 .logo{float:left;}
.header .h_box6 .logo img{}
.header .h_box6 .add{float:right;}
.header .h_box6 .logo img{}
.header .h_box6 .add{float:right; border:1px solid #dddddd;width:730px;}
/*add*/
.header .h_box7{width:100%; margin:5px auto;}
.header .h_box7 .add1{width:100%; float:left;}
.header .h_box7 .add2{width:100%; float:left; margin-top:10px;}
.header .h_box7 .add2 a{float:left;}
.header .h_box7 .add2 a.l{margin-left:15px;}
/*logo1 add*/
.header .h_box8{width:100%; margin:5px auto;}
.header .h_box8 .logo{width:222px; height:72px; background:url(../images/ylogo.jpg) no-repeat; float:left;}
.header .h_box8 .logo div{float:right; *padding-right:27px;}
.header .h_box8 .logo .tit{height:64px; vertical-align:middle; display:table-cell; position:relative; width:66px; height:70px; text-align:center;}
.header .h_box8 .logo .tit span{*position:absolute; *top:50%;} 
.header .h_box8 .logo .tit span a{color:#000; font-size:27px; *position:relative; *top:-50%; margin:0; line-height:30px; font-family:"\5FAE\8F6F\96C5\9ED1";}
.header .h_box8 .logo .tit span a:hover{text-decoration:none;}
.header .h_box8 .add{float:right; border:1px solid #dddddd; padding:0 10px;}
.header .h_box8 .add img{display:block;}
/*header skin*/