@charset "utf-8";
/* CSS Document border:5px solid #bdbdbd;*/
.shopdl{ width:545px; height:300px; background:url(../hdimages/denglubj.png) no-repeat;
 margin:0 auto; padding-top:5px; padding-left:5px;}
.shopdl1{ width:545px; height:300px; margin:0 auto; padding-top:5px; padding-left:5px; border:1px solid #ccc; margin-top:100px;}
.dlbt{ width:512px; height:30px; line-height:30px; background:#2a2e31;}
.dlbt2{ width:541px; height:30px; line-height:30px; background:#2a2e31;}
.dlbt2 span{ color:#fff; font-size:16px; line-height:30px; display:block; float:left; padding-left:15px;}
.dlbt2 p{color:#fff; font-size:7px; display:block; width:100px; line-height:7px; float:left; padding-left:5px; padding-top:9px;}
.dlbt2 p b{ color:#fff; font-size:10px; text-align:center; font-weight:normal; font-family:"\5FAE\8F6F\96C5\9ED1";}
.dlbt span{ color:#fff; font-size:16px; line-height:30px; display:block; float:left; padding-left:15px;}
.dlbt p{color:#fff; font-size:7px; display:block; width:100px; line-height:7px; float:left; padding-left:5px; padding-top:9px;}
.dlbt p b{ color:#fff; font-size:10px; text-align:center; font-weight:normal; font-family:"\5FAE\8F6F\96C5\9ED1";}
.ztk{ width:512px; height:271px; background:#fff; }
.dlbt img{ display:block; float:right; margin-right:5px; margin-top:6px;}
.dlbd{ width:323px; height:240px; float:left; border-right:1px solid #ccc;}
.dlbd ul li{ margin-bottom:15px;}
.h30{ height:30px;}
.fleft{ float:left;}
.dlbd ul li span{ font-size:13px; color:#333; width:90px; text-align:left; line-height:24px; display:block; float:left; margin-right:3px;}
.dlbd ul li input.yhm{ background:url(../hdimages/bddbj.png) no-repeat; width:192px; height:25px; line-height:25px; border:none;}
.dlbd ul{ width:285px; height:163px; margin-top:35px; margin-left:24px;  }
.dlbd ul li input.tjdl{ background:url(../hdimages/zcb.png) no-repeat; width:88px; height:30px; line-height:30px; text-align:center; border:none; cursor:pointer; color:#fff; margin-left:93px;}
.dlbd ul li a{color:#446aa9; padding-left:5px;}
.dlbd ul li.zc05 input 
{ 
visibility:hidden; 
} 
.dlbd ul li.zc05 label{ 
display:inline-block; 
height:14px; 
padding-left:20px; line-height:14px; margin-left:80px;}
label 
{ 
background: url(../hdimages/a.png) no-repeat 0 0 transparent; 
display:inline-block; 
height:14px; 
padding-left:20px; 
} 
.dlbdt ul li.zc05 label.checked,
.checked 
{ 
background: url(../hdimages/b.png) no-repeat 0 0 transparent; 
} 
.zcm{ float:right; width:180px;}
.zcm p{ width:150px; margin:0 auto; display:block; line-height:24px; font-size:16px; text-align:center; margin-top:62px;}
.zcm a{ width:88px; height:30px; display:block; background:url(../hdimages/zcb.png) no-repeat; text-align:center; color:#fff; line-height:29px; margin:0 auto;}


.mesWindow{}
.mesWindowTop{border-bottom:#eee 1px solid;margin-left:4px;padding:3px;font-weight:bold;text-align:left;font-size:12px;}
.mesWindowContent{margin:4px;font-size:12px;}
.mesWindow .close{height:15px;width:28px;border:none;cursor:pointer;text-decoration:underline;background:#fff}




/* 下面是整个myshop退订部分 */
#tuiding{position:absolute;left:36%;top:20%;z-index:999999;display:none;}

.beijing{width:100%;height:100%;position:fixed;left:0px;top:0px;background:#000; z-index:99999; display:none;}






