@charset "utf-8";
/* CSS Document */
body{font-family:"微软雅黑";}
.sh_main a{font-family:"微软雅黑";}
.sh_main a:hover{color:#da0203 !important;}

.sh_main{  width:1370px; margin:0 auto;}
.sh_gd{ width:1370px; margin:0 auto; background:url(../shimg/gd_bj.png) no-repeat; height:394px;}
.pmgd{ width:1310px; height:258px; margin:0 auto; position:relative; top:54px; }
.pmgd_left{ width:54px; cursor:pointer; position:absolute; left:0px; top:118px; z-index:9}
.pmgd_right{width:54px; right:0px;cursor:pointer; position:absolute;z-index:9;top:118px;}
.pmgd_box{ width:1305px; height:255px;overflow:hidden; z-index:5;}
.pmgd_box ul { width:1416px; margin:0 auto; margin-top:16px;} 
.pmgd_box ul li{ float:left; width:344px; height:258px; overflow:hidden; margin-right:10px;}
.pmgd_box ul li img{ max-width:344px; max-height:258px; display:block; margin:0 auto;}
/*圆扇*/
.ys{ background:url(../shimg/ysbj.png) center; height:700px; width:1370px; margin:0 auto;}
.ys_main{ width:1023px; margin:0 auto;}
.ys_img{ width:521px; height:390px; overflow:hidden; float:left;margin-top:145px;}
.ys_img img{ max-width:521px; max-height:390px;}
.ys_jjright{ width:430px;  overflow:hidden; float:right;}
.ys_jj{ width:265px; height:340px; float:left; margin-top:94px;}
.jj_bt{ width:43px; height:330px; overflow:hidden; float:right;}
.jj_bt a{ font-size:24px; font-family:"微软雅黑"; line-height:24px; display:block; width:43px; overflow:hidden; text-align:center; color:#000;}
.yuanshan{float:left;width:160px;height:340px;margin-top:90px;}
.yuanshan img{margin-left: 12px; margin-top: 4px;}
.jj_zt{ float:right;}
.jj_zt ul li{ float:right; width:23px; text-align:center; overflow:hidden; line-height:13px; font-family:"宋体"; font-size:12px;color:#000;word-wrap:break-word;word-break:nomal;}
.gggm{ width:320px; float:right; margin-top:53px;}
.jj_gg{ width:220px; overflow:hidden; float:left;}
.jj_gg dl dt{ width:145px; height:30px; font-size:18px; color:#6a3906;font-family:"微软雅黑";}
.jj_gg dl dd{ width:220px; height:20px; padding-left:14px; font-size:12px;font-family:"微软雅黑";color:#6a3906;}
.jj_gg dl dd span{ width:60px; float:left; text-align:right;}
.ljgm{ background:url(../shimg/ljgman.png) no-repeat; width:93px; height:35px; float:right; text-align:center; line-height:35px; margin-top:80px;}
.ljgm a{ font-size:14px; color:#000; text-align:center; line-height:35px;font-family:"微软雅黑";}
/*清泉*/
.qinq{ background:url(../shimg/qqbj.png) center; height:676px; width:1370px; margin:0 auto;}
.qinq_main{ width:939px; margin:0 auto;}
.qinq_img{ width:521px; height:390px; overflow:hidden; float:right;margin-top:145px;}
.qinq_img img{ max-width:521px; max-height:390px;}
.qinq_jjright{ width:417px; overflow:hidden; float:left;}
.qinq_jj{ width:210px; height:340px; float:left; margin-top:121px;}
.qqjj_bt{ width:43px; height:330px; overflow:hidden; float:left;}
.qqjj_bt a{ font-size:24px; font-family:"微软雅黑"; line-height:24px; display:block; width:43px; overflow:hidden; text-align:center; color:#000;}
.qqjj_zt{ float:left;}
.qqjj_zt ul li{ float:left; width:23px; text-align:center; overflow:hidden; line-height:13px; font-family:"宋体"; font-size:12px;color:#000;word-wrap:break-word;word-break:nomal;}
.qqgggm{ width:355px; float:left; margin-top:25px;}
.qqjj_gg{ width:225px; overflow:hidden; float:right;}
.qqjj_gg dl dt{ width:145px; height:30px; font-size:18px; color:#6a3906;font-family:"微软雅黑";}
.qqjj_gg dl dd{ width:220px; padding-left:14px; font-size:12px;font-family:"微软雅黑";color:#6a3906;}
.qqjj_gg dl dd span{ width:60px; float:left; text-align:right;}
.qqljgm{ background:url(../shimg/ljgman.png) no-repeat; width:93px; height:35px; float:left; text-align:center; line-height:35px; margin-top:80px;}
.qqljgm a{ font-size:14px; color:#000; text-align:center; line-height:35px;font-family:"微软雅黑";}
.qingquan{float:left;width:160px;height:340px;margin-top:90px;}
.qingquan img{margin-left: 9px; margin-top: 40px;}
/*千年圆梦*/

.ym{ background:url(../shimg/qnymbj.png) center; height:698px; width:1370px; margin:0 auto;}
.ym_main{ width:1023px; margin:0 auto;}
.ym_img{ width:521px; height:390px; overflow:hidden; float:left;margin-top:160px;}
.ym_img img{ max-width:521px; max-height:390px;}
.ym_jjright{ width:430px;  overflow:hidden; float:right;}
.ym_jj{ width:245px; height:340px; float:left; margin-top:110px;}
.ymjj_bt{ width:43px; height:330px; overflow:hidden; float:right;}
.ymjj_bt a{ font-size:24px; font-family:"微软雅黑"; line-height:24px; display:block; width:43px; overflow:hidden; text-align:center; color:#000;}
.ymjj_zt{ float:right;}
.ymjj_zt ul li{ float:right; width:23px; text-align:center; overflow:hidden; line-height:13px; font-family:"宋体"; font-size:12px;color:#000;word-wrap:break-word;word-break:nomal;}
.ymgggm{ width:332px; float:right; margin-top:53px;}
.ymjj_gg{ width:225px; overflow:hidden; float:left;}
.ymjj_gg dl dt{ width:199px; height:30px; font-size:18px; color:#6a3906;font-family:"微软雅黑";}
.ymjj_gg dl dd{ width:220px; padding-left:14px; font-size:12px;font-family:"微软雅黑";color:#6a3906;}
.ymjj_gg dl dd span{ width:60px; float:left; text-align:right;}
.ymljgm{ background:url(../shimg/ljgman.png) no-repeat; width:93px; height:35px; float:right; text-align:center; line-height:35px; margin-top:80px;}
.ymljgm a{ font-size:14px; color:#000; text-align:center; line-height:35px;font-family:"微软雅黑";}
.jtly{float:left;width:160px;height:340px;margin-top:90px;}
.jtly img{margin-left:25px; margin-top: 35px;}


/*苏武牧羊*/
.swmy{ background:url(../shimg/swmy.png) center; height:699px; width:1370px; margin:0 auto;}
.swmy_main{ width:944px; margin:0 auto;}
.swmy_img{ width:521px; height:390px; overflow:hidden; float:right;margin-top:180px;}
.swmy_img img{ max-width:521px; max-height:390px;}
.swmy_jjright{ width:334px; overflow:hidden; float:left;}
.swmy_jj{ width:173px; height:340px; float:left; margin-top:121px;}
.swmyjj_bt{ width:43px; height:330px; overflow:hidden; float:left;}
.swmyjj_bt a{ font-size:24px; font-family:"微软雅黑"; line-height:24px; display:block; width:43px; overflow:hidden; text-align:center; color:#000;}
.swmyjj_zt{ float:left;}
.swmyjj_zt ul li{ float:left; width:23px; text-align:center; overflow:hidden; line-height:13px; font-family:"宋体"; font-size:12px;color:#000;word-wrap:break-word;word-break:nomal;}
.swmygggm{ width:320px; float:right; margin-top:50px;}

.swmyjj_gg{ width:225px; overflow:hidden; float:right;}

.swmyjj_gg dl dt{ width:145px; height:30px; font-size:18px; color:#6a3906;font-family:"微软雅黑";}
.swmyjj_gg dl dd{ width:220px; padding-left:14px; font-size:12px;font-family:"微软雅黑";color:#6a3906;}
.swmyjj_gg dl dd span{ width:60px; float:left; text-align:right;}
.swmyljgm{ background:url(../shimg/ljgman.png) no-repeat; width:93px; height:35px; float:left; text-align:center; line-height:35px; margin-top:80px;}
.swmyljgm a{ font-size:14px; color:#000; text-align:center; line-height:35px;font-family:"微软雅黑";}
.swmy02{float:left;width:160px;height:340px;margin-top:90px;}
.swmy02 img{margin-left:5px; margin-top: 39px;}

/*作家介绍*/
.zjjs{ background:url(../shimg/zjjs.png) center no-repeat; height:470px; width:1370px; margin:0 auto;overflow:hidden;}
.zjjs_zt{ width:875px; margin:0 auto; background:#fff; padding-top:3px; margin-top:140px; margin-left:270px;}
.zjjs_zt ul li{ width:97px; float:left; text-align:center; height:118px; overflow:hidden;}
.zjjs_zt ul li span{ width:95px; text-align:center; font-size:12px; color:#000;}
/**尾部*/
.sh_footer{ background:url(../shimg/dbbj.png) repeat-x; height:151px; width:100%;overflow:hidden;}
.foot_main{ width:1370px; margin:0 auto; margin-top:45px;}
.leftline{ border-left:2px solid #000; height:20px;}
.foot_main p{ width:650px; text-align:center; font-size:12px; color:#000; margin:0 auto; font-family:"微软雅黑"; line-height:20px;}
.foot_main p a{ padding:0px 5px;}



