@charset "utf-8";
/* CSS Document */
#con{background:none;}
.con_img{width:100%;position:absolute;z-index:-1;}
.content{width:980px;height:940px;margin:auto;line-height:24px;text-align:center;font-family:"微软雅黑";overflow:hidden;}
.content h3{padding-top:175px;font-size:24px;}
.content .p01{width:780px;height:90px;margin-top:25px;text-align:left;padding-left:200px;}
.content .p02{width:980px;height:305px;}
.content .p03 span{font-size:18px;}
























