@charset "utf-8";
/* CSS Document */
#tzxmej{padding-top:100px;}
.con_img{width:100%;position:absolute;z-index:-1;}
.content{width:1054px;height:720px;margin:auto;margin-top:120px;}






















